.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px; // Exakt höjd som du vill ha
    background-color: rgba(6, 2, 21, 0.7);
    color: #E9F1F7;
    padding: 0 2rem;
    position: sticky;
    top: 0;
    z-index: 100;
    overflow: visible; // viktigt för att tillåta "utstick" av loga
  }
  
  .logo {
    height: 300px;
    bottom: -50px;
    left: -20px;
    position: relative;
  }
  
  .nav {
    display: flex;
    gap: 2rem;
  }
  
  .link {
    color: #E9F1F7;
    font-weight: 800;
    font-size: 1.25rem;
    text-decoration: none;
  
    &.active {
      border-bottom: 2px solid #E9F1F7;
    }
  }
  
  .searchWrapper {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .searchButton {
    background: none;
    border: none;
    color: #E9F1F7;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .searchInput {
    background: rgba(255, 255, 255, 0.1);
    border: none;
    outline: none;
    color: #E9F1F7;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin-left: 0.5rem;
    border-radius: 4px;
    width: 200px;
  }
  